@charset "utf-8";
/* logo */
.logo_wrap{
    width: 1360px;
    height:133px;
  
}
.logo_wrap h1{
   padding: 25px 0 0 107px;
   float: left;
}
.logo_r{
    float: left;
  
    width: 180px;
    height: 60px;
    margin: 25px 0 0 22px;
}
h2{
    font-size: 35px;
   
    color: #333333;
    line-height: 30px;
}
h3{
    font-size: 12px;
    color: #333333;
    line-height: 12px;
    margin-top: 9px;
}
.login{
    width:1360px;
    height: 600px;
    /* background-color: pink; */
}
.login .right{
    float: right;
    width: 349px;
    height: 500px;
   
    margin-right: 142px;

}
.title{
    width: 349px;
    height: 26px;
    /* background-color: red; */
    margin-top: 48px;
}
.zhanghu{
    border-right: 2px solid #e0e0e0;
    text-align: center;
    line-height: 26px;
    font-size:24px ;
    float: left;
    width: 171px;
    height: 26px;
   
}
.zhanghu a{
    color: #ff6700;

}
.saoma{
    text-align: center;
    line-height: 26px;
    font-size:24px ;
    float: left;
    width: 171px;
    height: 26px;
   
}

.text1 input{
    width: 335px;
    height: 48px;
    border: 1px solid #e0e0e0;
    margin-top: 27px;
    padding-left:14px;

}
.text2 input{
    width: 335px;
    height: 48px;
    border: 1px solid #e0e0e0;
    margin-top: 14px;
    padding-left:14px;

}
 .loginBtn{
    width: 349px;
    height: 48px;
    background-color: #ff6700;
    text-align: center;
    margin-top: 20px;
    border: none;
   
}
.way{
    width: 349px;
    height: 42px;

}

.way .one{
    width: 124px;
    height: 42px;
   
    font-size: 14px;
    line-height: 42px;
    float: left;
}
.way .two{
    width:150px;
    height: 42px;
    float: right;
    padding-right: 3px;
    line-height: 42px;
 
    
}
.two .two_first{
    float: right;
    width: 62px;
    height: 16px;
 
    margin-top: 14px;
}
.two .two_first a{
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 14px;
    padding-left: 5px;
    
    
}
.two .two_second{
    float: right;
    width: 62px;
    height: 16px;
 
    margin-top: 14px;
  
}
.two .two_second a{
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    float: right;
    padding-right: 5px;
   
}
.otherWay{
    position: relative;
    width: 349px;
    height:120px ;
 
    margin-top: 114px;
    position: relative;
}
.otherWay h4{
    text-align: center;
    width:349px;
    height: 16px;

    font-size: 14px;
    line-height: 16px;
}
.icon{
    width: 349px;
    height: 65px;
 
   
}
.icon .main{
    width: 287px;
    height: 61px;
 
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main .iconfont{
    font-size: 32px;
   
}
.main .icon1{
    color: #0288d1;
}

.main .icon2{
    color: #d32f2f;
}
.main .icon3{
    color: #0288d1;
}
.main .icon4{
    color: #00d20d;
}




.footer{
    margin-top: 50px;
    width: 1360px;
    height: 88px;
   
 
}
.footer .links{
    height: 51px;
   
}
.footer .links{
    width: 600px;
    height: 18px;
  
    margin: 0 auto;
   
    
}

.footer .links a{
    color: #757575;
    display: block;
    width: 100px;
    height: 18px;
    border-right: 1px solid  #bc8b75;
    text-align: center;
    float: left;

}
.links .last{
    border: none;
    /* background-color: red; */
}
.message{
    width: 1000px;
    height: 19px;
   
    margin: 0 auto ;
    margin-top: 22px;
    padding-left: 100px;
}
.message img{
    float: left;
}
.message p{
    color: #757575;
    float: left;
}